/* _content/TestParks/Views/Home/index.cshtml.rz.scp.css */
.model-img[b-202uphi63b] {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: fixed;
    top: 0;
    left: 0;
}


/* _content/TestParks/Views/Park/Details.cshtml.rz.scp.css */

.model-box[b-thnqq7207f] {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    
}

.model-card[b-thnqq7207f] {
    display: flex;
    flex-direction: row;
    width: 3000px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    align-content: center;
    font-family: Bahnschrift;
    margin-left: -290px;
    background-color: floralwhite;
}

.image-container[b-thnqq7207f] {
    display: flex;
    flex-direction: row;
}

.model-image-one[b-thnqq7207f],
.model-image-two[b-thnqq7207f],
.model-image-three[b-thnqq7207f] {
    width: 600px;
    height: 500px;
    margin-right: 10px;
    margin-left: 10px
}

.model-name[b-thnqq7207f] {
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-weight: 900;
    font-family: 'Arial Rounded MT';
    font-size: xx-large;
    margin-bottom: 30px;
    
    
}

.model-state-icon[b-thnqq7207f] {
    height: 50px;
    width: 50px;
}

.metrics-container[b-thnqq7207f] {
    display: flex;
    flex-direction: row;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;
}

.model-date-est[b-thnqq7207f],
.model-coordinates[b-thnqq7207f],
.model-area[b-thnqq7207f] {
    margin-right: 50px;
    margin-left: 50px;
    font-weight: 600;
}

.model-description[b-thnqq7207f] {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Bell MT';
    text-align: center;
    font-size: large;
    font-weight: 700;
}

.model-geography[b-thnqq7207f] {
    font-family: Arial;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

.google-maps[b-thnqq7207f] {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 1000px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    margin-left: 150px;
}
/* _content/TestParks/Views/Park/Index.cshtml.rz.scp.css */
.mt-3[b-fu46n5x1v5] {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    text-align: center;
    
}

.model-image-one[b-fu46n5x1v5] {
    width: 350px;
    height: 300px;
    margin-left: 1px;
}

.card[b-fu46n5x1v5] {
    position: relative;
    min-width: 800px;
    min-height: 400px;
    border: 1px solid #ccc;
    margin-left: 250px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    border-style: double;
    border-width: medium;
    background-color: aliceblue;
    margin-bottom: 10px;
    animation: slide-in-left-b-fu46n5x1v5 0.5s ease;
    animation-fill-mode: both;
    animation-delay: 0.3s;
    min-height: contain;
    min-width: contain;
}

@keyframes slide-in-left-b-fu46n5x1v5 {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

    .card:hover[b-fu46n5x1v5] {
        opacity: 0.8;
        background-color: floralwhite;
    }

.btn[b-fu46n5x1v5] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.card-title[b-fu46n5x1v5] {
    text-align: center;
    font-weight: 600;
}

.card-text[b-fu46n5x1v5] {
    text-align: center;
    font-family: Courier New;
    font-size: large;
}

.map-container[b-fu46n5x1v5] {
    flex: 0 0 auto;
    margin-left: -300px;
    position: fixed;
    margin-top: 100px;
}

.search-results[b-fu46n5x1v5] {
    flex: 1 1 auto;
    margin-left: 500px;
}

.all-parks button[b-fu46n5x1v5] {
    display: inline-block;
    padding: 0.5em 1em;
    border: none;
    border-radius: 50px;
    background-color: black;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    color: rgb(250,230,158);
    width: 150px;
    
}

    .all-parks button:hover[b-fu46n5x1v5] {
        background-color: dimgrey; 
    }

    .all-parks button:focus[b-fu46n5x1v5] {
        outline: none;
    }




/* _content/TestParks/Views/Shared/_Layout.cshtml.rz.scp.css */


a.navbar-brand[b-1sjrh5tb35] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    
}

.navbar[b-1sjrh5tb35] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    
}

a[b-1sjrh5tb35] {
  color: #0077cc;
}

.btn-primary[b-1sjrh5tb35] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-1sjrh5tb35], .nav-pills .show > .nav-link[b-1sjrh5tb35] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    
}

.border-top[b-1sjrh5tb35] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-1sjrh5tb35] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-1sjrh5tb35] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-1sjrh5tb35] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-1sjrh5tb35] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}




