.mt-3[b-fu46n5x1v5] {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    text-align: center;
    
}

.model-image-one[b-fu46n5x1v5] {
    width: 350px;
    height: 300px;
    margin-left: 1px;
}

.card[b-fu46n5x1v5] {
    position: relative;
    min-width: 800px;
    min-height: 400px;
    border: 1px solid #ccc;
    margin-left: 250px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    border-style: double;
    border-width: medium;
    background-color: aliceblue;
    margin-bottom: 10px;
    animation: slide-in-left-b-fu46n5x1v5 0.5s ease;
    animation-fill-mode: both;
    animation-delay: 0.3s;
    min-height: contain;
    min-width: contain;
}

@keyframes slide-in-left-b-fu46n5x1v5 {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

    .card:hover[b-fu46n5x1v5] {
        opacity: 0.8;
        background-color: floralwhite;
    }

.btn[b-fu46n5x1v5] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.card-title[b-fu46n5x1v5] {
    text-align: center;
    font-weight: 600;
}

.card-text[b-fu46n5x1v5] {
    text-align: center;
    font-family: Courier New;
    font-size: large;
}

.map-container[b-fu46n5x1v5] {
    flex: 0 0 auto;
    margin-left: -300px;
    position: fixed;
    margin-top: 100px;
}

.search-results[b-fu46n5x1v5] {
    flex: 1 1 auto;
    margin-left: 500px;
}

.all-parks button[b-fu46n5x1v5] {
    display: inline-block;
    padding: 0.5em 1em;
    border: none;
    border-radius: 50px;
    background-color: black;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    color: rgb(250,230,158);
    width: 150px;
    
}

    .all-parks button:hover[b-fu46n5x1v5] {
        background-color: dimgrey; 
    }

    .all-parks button:focus[b-fu46n5x1v5] {
        outline: none;
    }




